@import '../base/variables.scss';

.common-badge {
  span {
    border-radius: 30px;
    padding: 5px 15px;
    border: 1px solid;
    font-weight: 600;
    display: inline-flex;
  }
  .primary {
    color: $color-primary;
  }
  .info {
    color: $color-info;
  }
  .error {
    color: $color-error;
  }
}