// colors
$input-border-color: #EAECF0;
$border-color: #DADADA;
$color-primary: #D69F2A;
$color-info: #12B76A;
$color-error: #F04438;

// border-radius
$border-radius: 4px;

// IMAGES
$images: '../../../public/images';

// font
$font-family: 'Inter';
$font-size-normal: 14px;